{% extends 'employees/base.html' %}
{% load staticfiles %}
{% block body %}
<center>
    <div style="margin-left:0px; margin-top:60px">
        <font size=5; color="green">{{ success_info }}</font>
    </div>
    <div>


    {% if user.employeeemailverify == '0' %}
        <div style="margin-left:0px; margin-top:150px">
            <font size=5>Your email is not verification </font>
        </div>

        <div style="margin-left:0px; margin-top:30px">
            <font size="3">You need to send verification mail to confirm your email</font>
        </div>
        <div style="margin-left:0px; margin-top:30px">
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                    {{ field.label_tag }}
                    {{ field }}<br>
                    {% if field.help_text %}
                    <div style="margin-left:20px; margin-top:-7px"><small style="color: grey">{{ field.help_text }}</small></div>
                    {% endif %}
                    </p>
                {% endfor %}
                <div style="margin-left:0px; margin-top:30px"><button type="submit" class="btn btn-primary">Send Confirm Email</button></div>
                <div style="margin-left:0px; margin-top:15px">
                    <font color="red">{{ error }}</font>
                </div>
            </form>
            <div style="margin-left:0px; margin-top:30px">
                <a href="/employees/update_email" style="font-size:21px">Want to use new email? Click here</a>
            </div>

        </div>

    {% else %}
        <div style="margin-left:0px; margin-top:100px">
            <font size=5>Your Email is: {{ user.employeeemail }} </font>
        </div>
        <div style="margin-left:-350px; margin-top:80px">
        <a href="/employees/send_email" style="font-size:21px">
            <img src="{% static 'employees/images/send_email.png' %}" height="300" width="300">
        </a>
        </div>
        <div style="margin-left:350px; margin-top:-300px">
        <a href="/employees/update_email" style="font-size:21px">
            <img src="{% static 'employees/images/update_email.png' %}" height="300" width="300">
        </a>
        </div>
    {% endif %}
    </div>



</center>

{% endblock %}