<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<style>
.font_01 { font-size:21px;}
</style>
<center>
<div style="background-color:White; margin-top: 200px;">
{% if user.is_authenticated %}

    <div style=""><h2>You have been logged in, you can</h2></div>
    <div style=""><a href="/employees/logout" class="font_01">Logout</a></div>
    <div style=""><a href="/employees/main" class="font_01">Or Back to Main Page</a></div>
{% else %}
    <div style=""><h2>Login Your Account</h2></div>
    <div style="">
    <form method="post" action="">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username">
        </p>
        <p>
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password">
        </p>
        <div style=""><button type="submit" class="btn btn-primary">Login</button></div>
    </form>
    </div>
	{% if error %}
		<div style=""><span style="color:red;">{{ error }}</span>
	{% endif %}
{% endif %}
</div>
</center>