{% extends 'employees/base.html' %}
{% block body %}
<div style="width:1200px;height:600px;background-color:White;">
    <div style="margin-left:550px; margin-top:30px">
        <h2>Update Profile</h2>
    </div>
    <div style="margin-left:520px; margin-top:40px">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <p>
                {{ field.label_tag }}
                {{ field }}<br>
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                </p>
        {% endfor %}
        <div style="margin-left:110px; margin-top:30px"><button type="submit" class="btn btn-primary">Update</button></div>
        </form>
    </div>

</div>

{% endblock %}